In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
dataset=pd.read_csv("student_exam_scores.csv")

In [4]:
dataset

,student_id,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
0,S001,8.0,8.8,72.1,45,30.2
1,S002,1.3,8.6,60.7,55,25.0
2,S003,4.0,8.2,73.7,86,35.8
3,S004,3.5,4.8,95.1,66,34.0
4,S005,9.1,6.4,89.8,71,40.3
...,...,...,...,...,...,...
195,S196,10.5,5.4,94.0,87,42.7
196,S197,7.1,6.1,85.1,92,40.4
197,S198,1.6,6.9,63.8,76,28.2
198,S199,12.0,7.3,50.5,58,42.0
199,S200,10.2,6.3,97.4,68,37.8

In [5]:
dataset.info

<bound method DataFrame.info of     student_id  hours_studied  sleep_hours  attendance_percent  \
0         S001            8.0          8.8                72.1
1         S002            1.3          8.6                60.7
2         S003            4.0          8.2                73.7
3         S004            3.5          4.8                95.1
4         S005            9.1          6.4                89.8
..         ...            ...          ...                 ...
195       S196           10.5          5.4                94.0
196       S197            7.1          6.1                85.1
197       S198            1.6          6.9                63.8
198       S199           12.0          7.3                50.5
199       S200           10.2          6.3                97.4

     previous_scores  exam_score
0                 45        30.2
1                 55        25.0
2                 86        35.8
3                 66        34.0
4                 71        40.3
..               ...         ...
195               87        42.7
196               92        40.4
197               76        28.2
198               58        42.0
199               68        37.8

[200 rows x 6 columns]>

In [6]:
dataset.columns

Index(['student_id', 'hours_studied', 'sleep_hours', 'attendance_percent',
       'previous_scores', 'exam_score'],
      dtype='object')

In [7]:
#Finding Missing Values
dataset.isnull().sum()

student_id            0
hours_studied         0
sleep_hours           0
attendance_percent    0
previous_scores       0
exam_score            0
dtype: int64

In [8]:
dataset.isna().sum()

student_id            0
hours_studied         0
sleep_hours           0
attendance_percent    0
previous_scores       0
exam_score            0
dtype: int64

In [9]:
dataset=dataset.drop(["student_id"],axis=1)

In [10]:
dataset

,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
0,8.0,8.8,72.1,45,30.2
1,1.3,8.6,60.7,55,25.0
2,4.0,8.2,73.7,86,35.8
3,3.5,4.8,95.1,66,34.0
4,9.1,6.4,89.8,71,40.3
...,...,...,...,...,...
195,10.5,5.4,94.0,87,42.7
196,7.1,6.1,85.1,92,40.4
197,1.6,6.9,63.8,76,28.2
198,12.0,7.3,50.5,58,42.0
199,10.2,6.3,97.4,68,37.8

In [11]:
def quanqual(dataset):
    quan = []
    qual = []
    for columnname in dataset.columns:
        print(columnname)
        if dataset[columnname].dtype == 'O':  # 'O' means object (usually categorical/qualitative)
            qual.append(columnname)
        else:
            quan.append(columnname)
    return quan, qual  # moved return outside the loop

In [12]:
quanqual(dataset)

hours_studied
sleep_hours
attendance_percent
previous_scores
exam_score

(['hours_studied',
  'sleep_hours',
  'attendance_percent',
  'previous_scores',
  'exam_score'],
 [])

In [14]:
#Saving the preprocessed data
dataset.to_csv("Preprocessed_stud_score.csv",index=False)